---
layout: compress
---
<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include head.html %}

  </head>
  <body class="{{ page.slug }}">
    <main class="main">
      {% include header.html %}
      <div class="page">
          <div class="social">
              <a class="twitter-timeline" data-height="700" data-theme="light" data-link-color="#E95F28" href="https://twitter.com/mhackeroni?ref_src=twsrc%5Etfw">Tweets by mhackeroni</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
          <div class="content">
              {{ content }}
          </div>
      </div>
      {% include footer.html %}
    </main>
  </body>
</html>
