<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="og:type"       content="{{page.ogtype | default: 'summary'}}">
    <meta name="twitter:card"  content="{{page.ogtype | default: 'summary'}}">
    <meta name="og:title"      content="{{page.ogtitle | default: page.title}}">
    <meta name="twitter:title" content="{{page.ogtitle | default: page.title}}">
    {% if page.ogdescription or page.excerpt %}
    <meta name="og:description"      content="{{page.ogdescription | default: page.excerpt | strip_html}}">
    <meta name="twitter:description" content="{{page.ogdescription | default: page.excerpt | strip_html}}">
    {% endif %}
    <meta name="og:image"      content="{{page.ogimage | default: site.logo | absolute_url}}">
    <meta name="twitter:image" content="{{page.ogimage | default: site.logo | absolute_url}}">
    <meta name="twitter:site"  content="@mhackeroni">

    <link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" | absolute_url }}">
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <!-- <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1> -->

        {% if site.logo %}
          <a href="/"><img src="{{site.logo | relative_url}}" alt="mhackeroni rulez" /></a>
        {% endif %}

        <ul class="my_links">
          <li><a href="/about">About</a></li>
		  <li><a href="/sponsors">Sponsors</a></li>
          <li><a href="/archive">Archive</a></li>
        </ul>

      <div id="social">
        <div id="twitter">
          <a class="twitter-timeline" data-width="260" data-height="400" data-theme="dark" data-chrome="nofooter noscrollbar" data-link-color="#3b94d9" href="https://twitter.com/mhackeroni">Tweets by mHackeroni</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

      </div>

      </header>

      <section>
      {% if page.url != "/archive/2019/06/17/defconctf-finals-call-for-sponsors-2019.html" %}  
        <!--
          <h1> <a class="shine" href="/archive/2019/06/17/defconctf-finals-call-for-sponsors-2019.html">Check our Call for Sponsors here. Help mHACKeroni go to Vegas !!</a></h1><br>
          <h1> <a class="shine" href="/donate">Donate! Help mHACKeroni go to Vegas !!</a></h1><br>
        --> 
      {% endif %}
      {{ content }}

      </section>

      <footer>
        <div id="social_contacts">
          <a href="mailto:info@mhackeroni.it"><img  src="{{site.gmail_logo | relative_url}}" alt="mhackeroni@gmail.com"></a>
          <a href="https://twitter.com/mhackeroni"><img  src="{{site.twitter_logo | relative_url}}" alt="@mhackeroni"></a>
          <a href="https://github.com/mhackeroni" target="_new"><img  src="{{site.github_logo | relative_url}}" alt="github/mhackeroni"></a>
          <a href="https://www.instagram.com/mhackeroni/" target="_new"><img  src="{{site.instagram_logo | relative_url}}" alt="instagram/mhackeroni"></a>
        </div>
        <p><small>&copy; {{ site.time | date: '%Y' }} {{site.author.name}} - All rights reserved.
        </small></p>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <!-- <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p> -->
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
 <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119919900-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-119919900-1');
      </script>

  </body>
</html>
